/* <!-- * {
    box-sizing: border-box;
} */

h1, h3, header, body {
    margin: 0;
}

.aim {
    text-transform: uppercase;
    font-size: 40px;
    color: black;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Luminari', fantasy;
    font-weight: 50;
    text-transform: uppercase;
}

p {
    font-family:  'Sans MS', Comic Sans, cursive;
}

header {
    background-color: black;
    color: white;
    padding-top: 20px;
    height: 130px;
}

.main_text {
    text-align: center;
    margin-bottom: 40px;
}

.first {
    margin-left: 300px;
    display: inline-block;
}

.second {
    margin-left: 300px;
    display: inline-block;
}

.block {
    width: 550px;
    height: 400px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 4px 4px 0 black;
    margin: auto;
}

.block-first {
    display: inline-block;
}

.block-second {
    display: inline-block;
}

.el_one {
    margin-left: 40px;
}

.el_two {
    margin-left: 10px;
}

img {
    width: 300px;
    height: 200px;
    display: block;
    margin: auto;
    border: 1px solid black;
}